.dash-icon-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.dash_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
